.tooltip {
  position: relative;

  .tooltip-content {
    position: absolute;
    left: 50%;
    top: -2.5rem;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 0.8rem;
    white-space: nowrap;
    color: var(--text);
    background-color: var(--bg-lvl3);
    border-radius: 0.5rem;
    padding: 0.8rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
  }

  &:hover > .tooltip-content {
    opacity: 1;
  }
}

.player-bar {
  --dominant-color: var(--accent);

  position: absolute;
  inset: auto 0 0 0;
  z-index: 9999;
  height: 7rem;
  padding: 1rem;
  background-color: var(--bg);
  border-top: 2px solid var(--accent);
  box-sizing: border-box;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    &:not(.expanded) {
      position: fixed;
      inset: auto 0.5rem 0.5rem 0.5rem;
      border-radius: 0.5rem;
      border: none;
      height: 5rem;

      > * {
        width: auto;
      }
      .player-song {
        height: 3rem;
        min-width: 0;
        width: 100%;
        cursor: pointer;

        .player-song-gradient {
          width: 100%;
          background-color: var(--dominant-color);
          opacity: 0.2;
        }
        .player-song-title {
          font-size: 0.8rem;
          max-width: calc(100% - 4rem);
        }
        a {
          pointer-events: none;
        }
      }
      .progress-wrapper {
        position: absolute;
        bottom: 5px;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
        height: 5px;
      }
    }
  }
  &.expanded {
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    flex-direction: column;

    > * {
      width: 100%;
    }

    .player-song {
      width: 100%;
      max-width: 20rem;
      height: fit-content;

      .player-song-gradient {
        display: none;
      }

      .player-song-title {
        max-width: 100%;
      }
    }
    .player-buttons {
      font-size: 2rem;
    }
    .extras-container {
      justify-content: space-between;
    }
  }

  > * {
    width: 30%;
  }

  .player-song {
    height: 5rem;

    .player-song-gradient {
      position: absolute;
      inset: 0 auto 0 0;
      height: 100%;
      width: 30%;
      background: linear-gradient(to right, var(--dominant-color), transparent);
      opacity: 0.5;
    }

    a {
      width: 100%;
      height: 100%;
    }

    .player-song-title {
      justify-content: center;
      gap: 0.25rem;
      z-index: 1;
      height: 100%;

      > * {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > span {
        color: var(--hover);
      }
    }
  }

  .progress-wrapper {
    width: 100%;
    height: 10px;
    gap: 0.5rem;
    align-items: center;

    .progress-bar-container {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: var(--hover);
      overflow: hidden;

      .progress-bar {
        width: 0;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(to left, var(--accent), var(--accent-alt));
        transition: width 1s linear;
      }
    }
  }

  .player-buttons {
    button {
      position: relative;
      cursor: pointer;
      color: var(--hover);
      transition: color 0.25s ease-in-out;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      &:nth-child(1):nth-last-child(1),
      &:nth-child(3):nth-last-child(3) {
        color: var(--text);
      }

      &:not([disabled]):hover {
        color: var(--accent);
      }

      &.player-repeat-button:not(.off) {
        color: var(--accent);

        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 5px;
          height: 5px;
          background-color: var(--accent);
          border-radius: 50%;
        }
      }
    }
  }

  .extras-container {
    align-items: center;
    justify-content: end;

    .autoplay-button {
      position: relative;
      transition: color 0.25s ease-in-out;

      &:hover, &.active {
        color: var(--accent);
      }

      &.active::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: var(--accent);
        border-radius: 50%;
      }
    }

    .sponsorblock-button {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      transition: background-color 0.25s ease-in-out;

      &:hover > .sponsorblock-logo, &.active > .sponsorblock-logo {
        background-color: var(--accent);
      }

      &.active::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: var(--accent);
        border-radius: 50%;
      }

      .sponsorblock-logo {
        width: 100%;
        height: 100%;
        mask: url('https://raw.githubusercontent.com/ajayyy/SponsorBlock/master/public/icons/PlayerStartIconSponsorBlocker.svg');
        -webkit-mask: url('https://raw.githubusercontent.com/ajayyy/SponsorBlock/master/public/icons/PlayerStartIconSponsorBlocker.svg');
        background-color: var(--hover);
      }
    }

    .volume-container {
      width: 30%;

      .volume-text {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;
        width: 3.5rem;
      }

      .volume-slider-container {
        display: flex;
        width: 100%;
        height: 10px;
        margin-top: 4px;
        position: relative;
        border-radius: 5px;
        background: var(--hover);

        &:hover > .volume-slider-range {
          background: linear-gradient(to left, var(--accent), var(--accent-alt));
          &:before {
            background-color: var(--accent);
          }
        }

        input {
          -webkit-appearance: none;
          width: 100%;
          height: 10px;
          margin: 0;
          background: none;
          cursor: pointer;

          &::-moz-range-thumb,
          &::-webkit-slider-thumb {
            background: none;
            border: none;
          }
        }

        .volume-slider-range {
          width: 50%;
          height: 10px;
          position: absolute;
          left: 0;
          pointer-events: none;
          background-color: var(--text);
          border-radius: 10px;
          transition: width 0.1s linear, background-color 0.25s ease-in-out;

          &:before {
            content: '';
            position: absolute;
            top: -5px;
            right: -10px;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            background-color: transparent;
            transition: background-color 0.25s ease-in-out;
          }
        }

        &.active {
          background-color: var(--dominant-color);

          > .volume-slider-range:before {
            background-color: var(--dominant-color);
          }
        }
      }
    }
  }
}
