.queue-container {
    margin: 5vh 0;
    width: 90vw;
    background-color: var(--bg-lvl1);
    border-radius: 25px;
    padding: 5vh 5vw;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
}

.queue-buttons-container {
    width: 100%;
    margin-top: 5vh;
    gap: 2vh;
}
.queue-input {
    width: 150px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--bg-lvl2);
    color: var(--text);
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
    transition: border-color 0.25s ease-in-out;
}
.queue-input:hover {
    border-color: var(--text);
}
.queue-input:focus {
    outline: none;
}
.queue-input.pointer {
    cursor: pointer;
}
.queue-input-form {
    position: relative;
}
.queue-input-form > .queue-input {
    padding-right: 30px;
}
.queue-input-button {
    height: 30px;
    font-size: 15px !important;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.queue-track {
    width: 100%;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}
