.queue-container {
  overflow-y: scroll;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: padding-bottom 0.25s ease-in-out;

  &:has(.queue-reorder-container.reordering) {
    padding-bottom: 1.5rem;
  }

  .queue-title {
    margin: 0;
    font-size: 1.2rem;
  }

  .queue-reorder-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    .queue-reorder-progress {
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(to right, var(--accent-alt), var(--accent));
    }

    &.reordering {
      opacity: 1;
    }
  }
}
