.now-playing-container {
    --dominant-color: var(--accent);
    height: 100vh;
    padding: 0 10vw;
}

.progress-container {
    width: 50vw;
    height: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--hover);
    overflow: hidden;
}
.progress-bar {
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: var(--dominant-color);
    transition: width 1s linear, background-color 0.25s ease-in-out;
}

.now-playing-title {
    display: block;
    text-align: center;
}

.music-buttons {
    gap: 2vw;

    > button {
        font-size: 2rem;
        background: transparent;
        color: var(--text);
        border: none;
        cursor: pointer;
        transition: color 0.25s ease-in-out;

        &:first-child {
            font-size: 1rem;
        }

        &:last-child {
            font-size: 1rem;
        }

        &:hover {
            color: var(--dominant-color);
        }
    }
}

.volume-slider-container {
    display: flex;
    width: 80vw;
    height: 10px;
    margin: 10px 0;
    position: relative;
    border-radius: 5px;
    background-color: var(--text);
    transition: background-color 0.25s ease-in-out;
    &:hover {
        background-color: var(--dominant-color);

        > .volume-slider-range {
            &:before {
                background-color: var(--dominant-color);
            }
        }
    }
}
.volume-slider-input {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    margin: 0;
    background: none;
    cursor: pointer;

    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
        background: none;
        border: none;
    }
}
.volume-slider-range {
    width: 50%;
    height: 10px;
    position: absolute;
    right: 0;
    pointer-events: none;
    background-color: var(--hover);
    border-radius: 0 5px 5px 0;
    transition: width 0.1s linear;

    &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background-color: transparent;
        transition: background-color 0.25s ease-in-out;
    }
}
.volume-slider-container.active {
    background-color: var(--dominant-color);

    > .volume-slider-range:before {
        background-color: var(--dominant-color);
    }
}

.volume-display {
    width: 100px;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .volume-slider-container {
        width: 50vw;
    }
}
@media screen and (min-width: 1600px) {
    .volume-slider-container {
        width: 35vw;
    }
}
@media screen and (min-width: 2000px) {
    .volume-slider-container {
        width: 35vw;
    }
}
