.server-container {
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  font-size: 1rem;

  &.collapsed {
    //height: 2rem;
    overflow-y: hidden;

    > :not(.server-title-container) {
      opacity: 0;
    }
  }

  > * {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  .server-title-container {
    width: 100%;

    .server-title {
      margin: 0;
      font-size: 1.2rem;
    }

    svg {
      transition: rotate 0.25s ease-in-out;
    }
  }

  .server-item {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--bg-lvl1);
    transition: background-color 0.25s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      inset: -2px;
      z-index: -1;
      opacity: 0;
      border-radius: calc(0.5rem + 2px);
      background: linear-gradient(to bottom right, var(--accent), var(--accent-alt));
      transition: opacity 0.25s ease-in-out;
    }

    &:hover {
      background-color: var(--bg-lvl3);
    }

    &.active::before {
      opacity: 1;
    }

    .server-logo {
      height: 4rem;
      aspect-ratio: 1/1;
      border-radius: 0.5rem;
    }

    .server-item-text {
      width: 100%;
      max-width: calc(100% - 5rem);
      font-size: 1rem;

      > span {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
