.loading-button {
    border: none;
    position: relative;
    line-height: 0;

    .button-loader-container {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .button-loader {
            --uib-size: 2.5rem;
            --uib-color: var(--dominant-color, --accent);
            --uib-speed: 3s;
            --uib-bg-opacity: 0;
            height: var(--uib-size);
            width: var(--uib-size);
            transform-origin: center;
            animation: rotate var(--uib-speed) linear infinite;
            will-change: transform;
            overflow: visible;

            .car {
                fill: none;
                stroke: var(--uib-color);
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
                will-change: stroke-dasharray, stroke-dashoffset;
                transition: stroke 0.5s ease;
            }

            .track {
                fill: none;
                stroke: var(--uib-color);
                opacity: var(--uib-bg-opacity);
                transition: stroke 0.5s ease;
            }

            @keyframes rotate {
                100% { transform: rotate(360deg); }
            }

            @keyframes stretch {
                0% {
                    stroke-dasharray: 0, 150;
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dasharray: 75, 150;
                    stroke-dashoffset: -25;
                }
                100% {
                    stroke-dashoffset: -100;
                }
            }
        }

        .button-loader-warning {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--accent);
        }
    }
}
