nav {
    width: 100vw;
    height: 10vh;

    display: none !important; /* Hide by default */

    box-sizing: border-box;
    padding: 20px 5%;

    position: absolute;
    top: 0;
    left: 0;
}

.nav-logo-container {
    opacity: 100%;
    transition: opacity 0.25s ease-in-out;
}
.nav-logo-container:hover {
    color: white;
    opacity: 50%;
}
.nav-title {
    font-size: 1em;
    font-weight: bolder;
    margin-left: 10px;
}
.nav-logo {
    width: 1.5em;
    height: 1.5em;
}

.nav-link-container {
    gap: 20px;
}
.nav-link-container a {
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    nav { display: flex !important; }
}
