.server-container {
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  font-size: 1rem;

  .server-title {
    margin: 0 0 0 0.5rem;
  }

  .server-item {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--bg-lvl1);
    transition: background-color 0.25s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      inset: -2px;
      z-index: -1;
      opacity: 0;
      border-radius: calc(0.5rem + 2px);
      background: linear-gradient(to bottom right, var(--accent), var(--accent-alt));
      transition: opacity 0.25s ease-in-out;
    }

    &:hover {
      background-color: var(--bg-lvl3);
    }

    &.active::before {
      opacity: 1;
    }

    > img {
      height: 4rem;
      border-radius: 0.5rem;
    }

    .server-item-text {
      width: 100%;
      font-size: 1rem;
    }
  }
}
