.queue-container {
    min-height: 100svh;
    padding: 0 10vw;
}

.queue-input {
    width: 200px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--bg-lvl2);
    color: var(--text);
    border: 2px solid #808080;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 0.8rem;
    transition: border-color 0.25s ease-in-out;

    &:hover {
        border-color: var(--text);
    }

    &:focus {
        outline: none;
    }

    &.pointer {
        cursor: pointer;
    }
}
.queue-input-form {
    position: relative;

    > .queue-input {
        padding-right: 1.5rem;
    }
}
.queue-input-button {
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}

.queue-track {
    width: 100%;
    padding: 1rem 0 2rem 0;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.queue-track-buttons:hover {
    color: var(--hover);
}
