.dashboard {
    min-height: 100vh;
}

h1 {
    margin: 5vh;
}

.server-container {
    width: 75vw;
    min-height: 50vh;
    box-shadow: 5px 5px 2px black;
    border-radius: 25px;
    background-color: var(--bg-light);
    padding: 0 5%;
}

.loading-gear {
    width: 50px;
    height: 50px;
}

.server-card {
    max-width: 200px;
    margin: 20px;
    padding: 0;
    overflow: hidden;
}
.server-card > img {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.server-card > span {
    font-size: 0.8em;
    width: 200px;
    height: 1.2em;
    text-align: center;
    cursor: default;
    white-space: nowrap;
    transition-property: margin-left;
    transition-timing-function: ease-in-out;
}
.server-card > span:hover {
    text-overflow: unset;
    overflow: unset;
}
