.dashboard {
    --gap: 0.5rem;
    height: 100svh;
    padding: var(--gap) var(--gap) calc(7rem + var(--gap)) var(--gap);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'header header header'
        '. . .';
    gap: var(--gap);

    > :not(.background, .player-bar) {
        padding: 1rem;
        background-color: var(--bg-lvl1);
        border-radius: 1rem;
        box-shadow: 2px 2px 5px black;
    }

    .dashboard-header {
        grid-area: header;
        justify-content: start;
        height: 2rem;

        > .dashboard-header-title {
            height: 100%;

            > img {
                height: 100%;
                transition: opacity 0.25s ease-in-out;
            }
            &:hover > img {
                opacity: 0.5;
            }
            font-weight: bold;
        }

        > .dashboard-header-links {
            height: 100%;

            > a {
                height: 100%;
                aspect-ratio: 16 / 9;
                display: grid;
                place-items: center;
                font-size: 1rem;
                border-radius: 0.5rem;
                box-shadow: 2px 2px 5px black;
                transition: transform 0.25s ease-in-out;

                &:hover {
                    color: var(--text);
                    transform: scale(110%);
                }
            }
        }

        > .dashboard-header-user {
            position: relative;
            z-index: 1;
            height: 100%;
            background-color: var(--bg-lvl3);
            padding: 0.5rem;
            border-radius: 0.5rem;
            max-width: calc(25% - 3rem);

            > span {
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
            > img {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            > .dashboard-header-logout {
                position: absolute;
                inset: 0;
                border-radius: inherit;
                background: linear-gradient(to bottom right, var(--accent), var(--accent-alt));
                opacity: 0;
                transition: opacity 0.25s ease-in-out;

                &:hover {
                    color: var(--text);
                    opacity: 1;
                }
            }
        }
    }
}
