.alert {
    min-width: 25%;
    max-width: 75%;
    position: absolute;
    right: 1rem;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    z-index: 1;
}

.thumbnail-container {
    width: 500px;
    height: 281px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.thumbnail-backdrop {
    width: 500px;
    height: 281px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(10px);
}
.thumbnail {
    width: 500px;
    height: 281px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.progress-container {
    width: 500px;
    margin: 10px 0;
}
.progress-bar {
    width: 0;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    transition: width 1s linear;
}

.volume-display {
    height: 30px;
    width: 65px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    vertical-align: bottom;
    text-align: center;
}
.volume-slider {
    -webkit-appearance: none;
    margin: 0 0 8px 0;
    vertical-align: middle;
    height: 10px;
    width: 286px;
    border-radius: 5px;
    cursor: pointer;
}
.volume-slider::-webkit-slider-thumb, .volume-slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border-width: 5px;
    transition: background-color 0.5s;
}
.volume-slider:hover::-webkit-slider-thumb, .volume-slider:hover::-moz-range-thumb {

}

.queue-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textfield {
    width: 150px;
    height: 30px;
    margin-right: 5px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
}

.loader {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

