:root {
    --bg: #121212;
    --bg-lvl1: #1d1d1d;
    --bg-lvl2: #212121;
    --bg-lvl3: #292929;

    --text: #ffffff;
    --hover: #808080;
    --accent: #e71d36;
    --accent-alt: #e76a1d;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10vh;
    /* Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    color-scheme: dark;

    background: var(--bg);
}
html::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--accent);
    color: white;
}

.app {
    width: 100vw;
    min-height: 100vh;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
@media screen and (min-width: 768px)  { .app { font-size: 1.2rem; } }
@media screen and (min-width: 1600px) { .app { font-size: 1.5rem; } }
@media screen and (min-width: 2000px) { .app { font-size: 2rem;   } }

.small-text {
    color: var(--hover);
    font-size: 0.75rem;
}

a {
    color: var(--text);
    text-decoration: none;
    background-color: transparent;
    transition: color 0.25s ease-in-out;
}
a:hover {
    color: var(--hover);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
a.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

button {
    background: none;
    border: none;
    font: inherit;
    text-align: start;
    cursor: pointer;
    padding: 0;
}

.cta-button {
    font-size: 2rem;
    padding: 1rem;
    border: 5px solid var(--text);
    border-radius: 1rem;
    color: var(--text);
    mix-blend-mode: screen;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    cursor: pointer;
}
.cta-button:hover, .cta-button:active {
    color: black;
    background-color: var(--text);
}

p {
    text-align: center;
}

.flex-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    place-items: center;
    place-content: center;
}
.flex-container.column {
    flex-direction: column;
}
.flex-container.start {
    place-content: flex-start;
    place-items: flex-start;
}
.flex-container.space-between {
    place-content: space-between;
}
.flex-container.nowrap {
    flex-wrap: nowrap;
}
