.thumbnail-container {
    position: relative;
    z-index: 1;
    border-radius: 10%;
    overflow: hidden;
    flex-shrink: 0;
}

.thumbnail-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    filter: blur(10px);
    text-align: center;
}

.thumbnail {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    object-fit: contain;
    text-align: center;
}
