:root {
    --sidebar-width: clamp(200px, 20vw, 300px);
    --sidebar-width-collapsed: 5rem;
}

.sidebar {
    position: fixed;
    z-index: 999;
    width: var(--sidebar-width);
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--bg-lvl1);
    font-size: 1.2rem;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.sidebar:before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px black;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.sidebar-margin {
    margin-left: var(--sidebar-width);
    height: 100vh;
    transition: margin-left 0.5s ease-in-out;
}
.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}
.sidebar.collapsed + .sidebar-margin {
    margin-left: var(--sidebar-width-collapsed);
}
.sidebar.collapsed > .menu-toggle {
    transform: translate(50%, -50%) rotate(180deg);
}
.sidebar.collapsed > .sidebar-user > span,
.sidebar.collapsed > .sidebar-user > img {
    opacity: 0;
}
@media screen and (max-width: 768px) {
    .sidebar.collapsed {
        width: 0;
        background-color: transparent;
        pointer-events: none;
    }
    .sidebar.collapsed:before {
        opacity: 0;
    }
    .sidebar + .sidebar-margin,
    .sidebar.collapsed + .sidebar-margin {
        margin-left: 0;
    }
    .sidebar > .menu-toggle {
        pointer-events: all;
    }
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}
.menu-toggle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    top: 2.5rem;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: linear-gradient(to right, var(--accent), var(--accent-alt));
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out, translate 0.5s ease-in-out;
}
.menu-toggle:hover {
    color: var(--hover);
}
.sidebar-icon {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out;
}
.sidebar-title {
    position: relative;
    white-space: nowrap;
    height: 3rem;
    margin: auto;
}
.sidebar-title:hover > img {
    opacity: 0.5;
}
.sidebar-title > span {
    font-weight: bold;
    margin-left: 3rem;
    line-height: 3rem;
}

.sidebar-link {
    position: relative;
    isolation: isolate;
    height: 3rem;
    padding: 0;
    white-space: nowrap;
}
.sidebar-link > i {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%);
}
.sidebar-link > span {
    margin-left: 3rem;
}
.sidebar-link::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 1rem;
    background: linear-gradient(to bottom right, var(--accent), var(--accent-alt));
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.sidebar-link.active::before,
.sidebar-link:hover::before {
    opacity: 1;
}
.sidebar-link:disabled {
    color: var(--hover);
    cursor: default;
}
.sidebar-link:disabled::before {
    filter: grayscale(100%);
}
.sidebar-link.active:disabled::before,
.sidebar-link:hover:disabled::before {
    opacity: 0.25;
}

.sidebar-user {
    position: relative;
    white-space: nowrap;
    height: 3rem;
    overflow: hidden;
}
.sidebar-user > img {
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
}
.sidebar-user > span {
    margin-right: auto;
    margin-left: 3rem;
    line-height: 3rem;
    cursor: default;
    transition: opacity 0.5s ease-in-out;
}
.logout-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    transition: color 0.25s ease-in-out;
}
.logout-button:before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--bg-lvl1);
}
.logout-button:hover {
    color: var(--accent);
}
