.start-container {
    height: 100vh;
}
.source {
    height: 5rem;
    aspect-ratio: 16 / 9;
    display: grid;
    place-items: center;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.25s ease-in-out;
}
.source:hover {
    color: var(--text);
    transform: scale(105%);
}
